$imgpath: '/starter-code/assets/home/';
@mixin devices($breakpoint) {
  @if $breakpoint == mobile {
    @media only screen and (min-width: 680px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: 1440px) {
      @content;
    }
  }
}

.page--home {
  background: url(#{$imgpath}background-home-mobile.jpg) no-repeat;
  background-size: cover;

  @include devices(tablet) {
    background: url(#{$imgpath}background-home-tablet.jpg) no-repeat;
    background-size: cover;
  }
  @include devices(desktop) {
    background: url(#{$imgpath}background-home-desktop.jpg) no-repeat;
    background-size: cover;
  }
}

.hero {
  padding: 2.4rem;
  padding-bottom: 4rem;
  padding-top: 2.6rem;
  text-align: center;
  overflow-x: hidden;

  @include devices(tablet) {
    padding: 15.9rem;
    padding-top: 10.8rem;
    padding-bottom: 15.6rem;
  }
}

.explore {
  text-align: center;
}

.link--explore {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: var(--color-blue-dark);
  text-transform: uppercase;
  font-family: 'Bellefair', sans-serif;
  font-size: 2rem;
  letter-spacing: 0.125rem;
  background-color: var(--color-white);
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  z-index: 100;
  margin-top: 4rem;
  padding-bottom: 0;

  @include devices(tablet) {
    font-size: 3.2rem;
    height: 24.2rem;
    width: 24.2rem;
    margin-top: 0;
    letter-spacing: 0.2rem;
  }
}

// to get the explore text in the perfect position
.link--explore-text {
  transform: translate(2px, 5px);
  @include devices(tablet) {
    transform: translate(0px, 0px);
  }
}

.link--explore::before {
  content: '';
  position: absolute;
  height: 24rem;
  width: 24rem;
  border-radius: 50%;
  background-color: var(--color-white);
  transform: scale(40%);
  opacity: 0.1;
  transition: transform 300ms ease-in-out;
  z-index: 99;
}

.link--explore:hover::before {
  transform: scale(100%);
}

.hide {
  display: none;
}

// @media screen and (min-width: 768px) {
//   .page--home {
//     background: url(#{$imgpath}background-home-tablet.jpg) no-repeat;
//     background-size: cover;
//   }
// }
