$imgpath: '/../starter-code/assets/crew/';

.page--crew {
  background: url(#{$imgpath}background-crew-mobile.jpg) no-repeat;
  background-size: cover;
  // min-height: 100vh;
  .hero {
    padding-top: 0;
  }
  .heading--fifth {
    color: var(--color-white);
    padding-top: 0.2rem;
    margin-bottom: 3.3rem;
  }
  .heading--number {
    margin-right: 0.8rem;
  }
}

.crew__img {
  height: 22.2rem;
  width: auto;
  border-bottom: 1px solid #383b4b;
  margin-bottom: 2.8rem;
  display: flex;
  justify-content: center;
}
.crew__img img {
  height: 100%;
  width: auto;
  transition: opacity 250ms ease-out;
}

.crew__choose {
  display: flex;
  gap: 0.6rem;
  justify-content: center;
  margin-bottom: 2.4rem;
}
.page--crew .crew__dot {
  padding: 0.5rem;
}
.page--crew .crew__dot span {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1744);
  transition: background 260ms ease-in-out;
}

.page--crew .crew__dot--active span {
  background-color: var(--color-white);
  opacity: 1;
}

.page--crew .crew__dot:hover span {
  background-color: rgba(255, 255, 255, 0.5);
}

.crew__fadout {
  opacity: 0;
  transition: opacity 260ms ease-out;
}
.crew__fadin {
  // opacity: 1;
  transition: opacity 260ms ease-out;
}

.crew__description {
  // opacity: 0;
  transition: all 260ms ease;
}
