$imgpath: '/../starter-code/assets/crew/';
@mixin devices($breakpoint) {
  @if $breakpoint == mobile {
    @media only screen and (min-width: 680px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == laptop {
    @media only screen and (min-width: 1440px) {
      @content;
    }
  }
}

.page--crew {
  background: url(#{$imgpath}background-crew-mobile.jpg) no-repeat;
  background-size: cover;

  @include devices(tablet) {
    background: url(#{$imgpath}background-crew-tablet.jpg) no-repeat;
    background-size: cover;
  }
  @include devices(laptop) {
    background: url(#{$imgpath}background-crew-desktop.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  .hero {
    padding-top: 0;
    @include devices(tablet) {
      padding: 3.9rem;
      padding-bottom: 0;
      padding-top: 4rem;
    }
    @include devices(laptop) {
      padding: 16.5rem;
      padding-top: 7.6rem;
      padding-bottom: 0;
    }
  }
  .heading--fifth {
    color: var(--color-white);
    padding-top: 0.2rem;
    margin-bottom: 3.3rem;
    @include devices(tablet) {
      text-align: left;
      margin-bottom: 6.3rem;
    }
    @include devices(laptop) {
      margin-bottom: 15.9rem;
    }
  }
  .heading--number {
    margin-right: 0.8rem;

    @include devices(tablet) {
      margin-right: 0.6rem;
    }
    @include devices(laptop) {
      margin-right: 2.2rem;
    }
  }
}
// //////////////
.crew {
  @include devices(tablet) {
    // padding: 0 11.6rem;
    display: grid;
    grid-template-rows: auto auto auto;
  }
}

.crew__img {
  height: 22.2rem;
  width: auto;
  border-bottom: 1px solid #383b4b;
  margin-bottom: 2.8rem;
  display: flex;
  justify-content: center;

  @include devices(tablet) {
    grid-row: 3;
    height: 53.2rem;
    width: auto;
    margin-bottom: 0rem;
    border: none;
  }

  @include devices(laptop) {
    position: absolute;
    bottom: 0;
    right: 0;
    height: auto;
  }

  // positioning the crew images
  .crew__image--1 {
    @include devices(laptop) {
      position: absolute;
      bottom: -2.6rem;
      right: 14.3rem;
      height: 70rem;
    }
  }
  .crew__image--2 {
    @include devices(laptop) {
      position: absolute;
      bottom: -3.6rem;
      right: 19.6rem;
      height: 66rem;
    }
  }
  .crew__image--3 {
    @include devices(laptop) {
      position: absolute;
      bottom: -2.6rem;
      right: 14.2rem;
      height: 64.5rem;
    }
  }
  .crew__image--4 {
    @include devices(laptop) {
      position: absolute;
      bottom: -2.6rem;
      right: 11.8rem;
      height: 60.2rem;
    }
  }
}
.crew__img img {
  height: 100%;
  width: auto;
  transition: opacity 250ms ease-out;
  @include devices(tablet) {
    height: 53.2rem;
    width: auto;
  }
}

.crew__choose {
  display: flex;
  gap: 0.6rem;
  justify-content: center;
  margin-bottom: 2.4rem;

  @include devices(tablet) {
    grid-row: 2;
    margin-bottom: 4.6rem;
  }
  @include devices(laptop) {
    justify-content: start;
    transform: translateX(-3px);
    margin-bottom: 0;
    gap: 1.4rem;
  }
}
.page--crew .crew__dot {
  padding: 0.5rem;
}
.page--crew .crew__dot span {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1744);
  transition: background 260ms ease-in-out;

  @include devices(laptop) {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.page--crew .crew__dot--active span {
  background-color: var(--color-white);
  opacity: 1;
}

.page--crew .crew__dot:hover span {
  background-color: rgba(255, 255, 255, 0.5);
}

.crew__fadout {
  opacity: 0;
  transition: opacity 260ms ease-out;
}
.crew__fadin {
  // opacity: 1;
  transition: opacity 260ms ease-out;
}

.crew__description {
  // opacity: 0;
  transition: all 260ms ease;
  // padding: 0 11.6rem;
}

// had to set padding manually to get the text looking like the design
.crew__text--douglas {
  @include devices(tablet) {
    padding: 0 11.6rem;
  }
  @include devices(laptop) {
    padding: 0;
  }
}
.crew__text--mark {
  @include devices(tablet) {
    padding: 0 8.4rem;
  }
  @include devices(laptop) {
    padding: 0;
  }
}
.crew__text--victor {
  @include devices(tablet) {
    padding: 0 4.9rem;
    margin-bottom: 8.3rem;
  }
  @include devices(laptop) {
    padding: 0;
  }
}
.crew__text--anousheh {
  @include devices(tablet) {
    padding: 0 7.7rem;
  }
  @include devices(laptop) {
    padding: 0;
  }
}
