$imgpathTechnology: '/../starter-code/assets/technology/';
@import '../mixins';
.page--technology {
  background: url(#{$imgpathTechnology}background-technology-mobile.jpg)
    no-repeat;
  background-size: cover;

  @include devices(tablet) {
    background: url(#{$imgpathTechnology}background-technology-tablet.jpg)
      no-repeat;
    background-size: cover;
  }
  @include devices(laptop) {
    background: url(#{$imgpathTechnology}background-technology-desktop.jpg)
      no-repeat;
    background-size: cover;
  }

  .heading--fifth {
    color: var(--color-white);
    padding-top: 0.2rem;
    margin-bottom: 3.3rem;
    @include devices(tablet) {
      text-align: left;
      margin-bottom: 6.2rem;
    }
    @include devices(laptop) {
      margin-bottom: 3rem;
    }
  }
  .heading--tertiary {
    @include devices(laptop) {
      margin-bottom: 1.6rem;
    }
  }
  .hero {
    padding-top: 0;
    @include devices(tablet) {
      padding: 3.9rem;
      padding-bottom: 9.7rem;
      padding-top: 4rem;
    }
    @include devices(laptop) {
      padding: 16.5rem;
      padding-top: 7.6rem;
      padding-bottom: 0;
    }
  }
  .heading--number {
    margin-right: 2.2rem;

    @include devices(tablet) {
      margin-right: 0.6rem;
    }
    @include devices(tablet) {
      margin-right: 2.2rem;
    }
  }
}

.technology {
  @include devices(laptop) {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto auto;
  }
}

.technology__img {
  margin: 0 -2.6rem;
  margin-bottom: 3.4rem;

  // display: flex;
  // flex-wrap: nowrap;
  // justify-content: center;
  position: relative;
  // comes from the aspect ration of the image
  height: calc(100vw / 2.2);
  @include devices(tablet) {
    margin: 0 -3.9rem;
    height: calc(100vw / 2.44);

    margin-bottom: 5.6rem;
  }
  @include devices(laptop) {
    margin: 0;
    height: 52.7rem;
    width: 51.5rem;
    grid-row: 1 / -1;
    grid-column: 3/ 4;
    overflow: hidden;
    margin-right: -16.5rem;
  }
  img {
    width: 111.14%;

    @include devices(tablet) {
      width: 104.72%;
    }
    @include devices(laptop) {
      width: 100%;
    }
  }
  picture {
    width: 111.14%;
    display: flex;
    object-fit: contain;

    @include devices(tablet) {
      width: 104.72%;
    }

    source {
      display: none;
      @include devices(laptop) {
        display: inline-block;
      }
    }
  }
}

.technology__image {
  transition: transform 800ms;
  position: absolute;
}

.technology__choose {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  margin-bottom: 2.7rem;

  @include devices(tablet) {
    margin-bottom: 4.5rem;
  }
  @include devices(laptop) {
    margin: 0;
    justify-content: start;
    flex-direction: column;
    margin-top: 11.1rem;
    gap: 3.2rem;
  }
}

.technology__dot {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 0.1rem solid rgba(255, 255, 255, 0.25);

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-size: 1.6rem;
  font-family: 'Bellefair', sans-serif;
  font-weight: 400;
  color: var(--color-white);
  transition: border-color 250ms ease-in-out;

  @include devices(tablet) {
    font-size: 2.4rem;
    height: 6rem;
    width: 6rem;
  }
  @include devices(laptop) {
    width: 8rem;
    height: 8rem;
    font-size: 3.2rem;
    letter-spacing: 0.2rem;
  }
}

.technology__dot:hover {
  border-color: var(--color-white);
}

.technology__dot--active {
  background-color: var(--color-white);
  border-color: var(--color-white);
  color: #000;
}

.technology__description {
  // opacity: 1;
  transition: all 280ms ease-in-out;

  @include devices(tablet) {
    padding: 0 11.5rem;
  }
  @include devices(laptop) {
    padding: 0;
    margin-top: 11.1rem;
    padding-left: 8rem;
  }
}
.technology__text {
  @include devices(laptop) {
    padding-right: 15.5rem;
  }
}
.desc__hide {
  display: none;
  transition: all 280ms;
}

.technology__fadeout {
  opacity: 0;
  transition: all 280ms;
}

picture {
  height: auto;
  width: auto;
}
