$imgpathTechnology: '/../starter-code/assets/technology/';

.page--technology {
  background: url(#{$imgpathTechnology}background-technology-mobile.jpg)
    no-repeat;
  background-size: cover;
}

.technology__img {
  margin: 0 -2.6rem;
  margin-bottom: 3.4rem;
  // object-fit: cover;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  position: relative;
  // comes from the aspect ration of the image
  height: calc(100vw / 2.477);
}

.technology__image {
  transition: transform 800ms;
  position: absolute;
}

/* to make sure the image doesn't overflow and make the page wider */
.hero {
  overflow-x: hidden;
}

.technology__choose {
  display: flex;
  justify-content: center;
  gap: 2.6rem;
  margin-bottom: 2.6rem;
}

.technology__dot {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 0.1rem solid rgba(255, 255, 255, 0.25);
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  font-size: 1.6rem;
  font-family: 'Bellefair', sans-serif;
  font-weight: 400;
  color: var(--color-white);
  transition: border-color 250ms ease-in-out;
}

.technology__dot:hover {
  border-color: var(--color-white);
}

.technology__dot--active {
  background-color: var(--color-white);
  border-color: var(--color-white);
  color: #000;
}

.heading--sixth {
  font-size: 1.4rem;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 0.236rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-blue-light);
  margin-bottom: 0.9rem;
}

.technology__text {
  font-family: 'Barlow', serif;
  font-size: 1.5rem;
  color: var(--color-blue-light);
  letter-spacing: 0;
  line-height: 2.5rem;
}

// .technology__img--prev {
//   transform: translateX(-100%);
//   // z-index: 100;
// }
.technology__img--curr {
  // transform: translateX(0%);
  // z-index: 200;
}
// .technology__img--next {
//   transform: translateX(100%);
//   // z-index: 90;
// }
.desc__hide {
  display: none;
}
