$imgpath: '/../starter-code/assets/destination/';
@mixin devices($breakpoint) {
  @if $breakpoint == mobile {
    @media only screen and (min-width: 680px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == laptop {
    @media only screen and (min-width: 1440px) {
      @content;
    }
  }
}
.page--destination {
  background: url(#{$imgpath}background-destination-mobile.jpg) no-repeat;
  background-size: cover;

  @include devices(tablet) {
    background: url(#{$imgpath}background-destination-tablet.jpg) no-repeat;
    background-size: cover;
  }
  @include devices(laptop) {
    background: url(#{$imgpath}background-destination-desktop.jpg) no-repeat;
    background-size: cover;
  }
  .hero {
    padding-top: 0;

    @include devices(tablet) {
      padding: 3.9rem;
      padding-bottom: 2.9rem;
    }
    @include devices(laptop) {
      padding: 16.5rem;
      padding-top: 7.6rem;
      padding-bottom: 0;
    }
  }
  .heading--fifth {
    color: var(--color-white);
    padding-top: 0.2rem;
    margin-bottom: 3.3rem;

    @include devices(tablet) {
      text-align: left;
      margin-bottom: 6.3rem;
    }
    @include devices(laptop) {
      margin-bottom: 6.9rem;
    }
  }
}

.planet {
  @include devices(tablet) {
    padding: 0 5.9rem;
  }
  @include devices(laptop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 0 16.4rem;
    padding-right: 0;
  }
}

.heading--number {
  opacity: 0.25;
}
.planet__img {
  width: 17rem;
  height: auto;
  margin: 0 auto;
  margin-bottom: 2.4rem;

  @include devices(tablet) {
    margin-bottom: 5.1rem;
    width: 30rem;
  }
  @include devices(laptop) {
    width: 44.5rem;
    grid-row: 1 / -1;
    margin-bottom: 0;
    margin-top: 3.2rem;
  }
}

.planet__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 2.5rem;
  margin-bottom: 3.2rem;

  @include devices(tablet) {
    gap: 3.3rem;
    margin-bottom: 4.7rem;
  }
  @include devices(laptop) {
    justify-content: start;
    gap: 3.3rem;
    margin-bottom: 5.1rem;
  }
}

.planet__image {
  height: 0;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity 400ms ease-in-out;
  display: none;
}
.planet__image--active {
  visibility: visible;
  position: relative;
  width: 17rem;
  height: auto;
  opacity: 1;
  @include devices(tablet) {
    width: 30rem;
  }
  @include devices(laptop) {
    width: 44.5rem;
    transform: translateX(6px);
  }
}

.planet__link {
}

.planet--active {
  border-bottom: 0.3rem solid var(--color-white);
  color: var(--color-white);
}

.planet__description {
  padding-bottom: 3.1rem;
  margin-bottom: 3.3rem;
  border-bottom: 1px solid #383b4b;
  height: 0;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity 400ms ease-in-out;
  display: none;

  @include devices(tablet) {
    padding-bottom: 4.9rem;
    margin-bottom: 2.9rem;
  }
  @include devices(laptop) {
    padding-bottom: 5.4rem;
  }
}

.planet__description--active {
  height: auto;
  position: relative;
  visibility: visible;
  opacity: 1;
}

.planet__info {
  height: 0;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity 400ms ease-in-out;
  display: none;
}
.planet__info--active {
  height: auto;
  position: relative;
  visibility: visible;
  opacity: 1;
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 0rem;

  @include devices(tablet) {
    display: flex;
    justify-content: center;
    gap: 10rem;
    flex-direction: row;
  }
  @include devices(laptop) {
    justify-content: start;
    display: flex;
    gap: 8rem;
    flex-direction: row;
  }
}

.planet__fadeout {
  opacity: 0;
}

.planet__distance {
}
.planet__time {
}
