$imgpath: '/../starter-code/assets/destination/';

.page--destination {
  background: url(#{$imgpath}background-destination-mobile.jpg) no-repeat;
  background-size: cover;
  // background-attachment: fixed;
  .hero {
    padding-top: 0;
  }
  .heading--fifth {
    color: var(--color-white);
    padding-top: 0.2rem;
    margin-bottom: 3.3rem;
  }
}

.heading--number {
  opacity: 0.25;
}
.planet__img {
  width: 17rem;
  height: auto;
  margin: 0 auto;
  margin-bottom: 2.4rem;
}

.planet__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 2.5rem;
  margin-bottom: 3.2rem;
}

.planet__description {
  padding-bottom: 3.1rem;
  margin-bottom: 3.3rem;
  border-bottom: 1px solid #383b4b;
}

.planet__image {
  height: 0;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity 400ms ease-in-out;
  display: none;
}
.planet__image--active {
  visibility: visible;
  position: relative;
  width: 17rem;
  height: auto;
  opacity: 1;
}

.planet__link {
}

.planet--active {
  border-bottom: 0.3rem solid var(--color-white);
  color: var(--color-white);
}

.planet__description {
  height: 0;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity 400ms ease-in-out;
  display: none;
}

.planet__description--active {
  height: auto;
  position: relative;
  visibility: visible;
  opacity: 1;
}

.planet__info {
  height: 0;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity 400ms ease-in-out;
  display: none;
}
.planet__info--active {
  height: auto;
  position: relative;
  visibility: visible;
  opacity: 1;
}

.planet__fadeout {
  opacity: 0;
}
