/* @font-face {
  font-family: 'Bellefair';
  src: url('assets/Fonts/Bellefair/Bellefair-Regular.ttf');
}
@font-face {
  font-family: 'Barlow Condensed';
  src: url('assets/Fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf');
}
@font-face {
  font-family: 'Barlow';
  src: url('assets/Fonts/Barlow/Barlow-Regular.ttf');
} */
/* 
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif; 
font-family: 'Barlow', serif;
*/

// We define the mixins for two major breakpoints mobile and tablet

// $breakpoint is the variable that can have several values
//the name of the mixin is devices
@import '../mixins';

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* equals 10px*/
  @include devices(laptop-large) {
    // it looked the best above 1800px
    font-size: 70%;
  }
  @include devices(high-res) {
    font-size: 80%;
  }
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.page {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem;

  @include devices(tablet) {
    padding: 2.4rem 3.9rem;
    align-items: flex-start;
    padding-bottom: 0;
  }
  @include devices(small-laptop) {
    padding: 2.4rem 3.9rem;
    align-items: center;
    padding-bottom: 0;
  }
  @include devices(laptop) {
    padding: 4rem 5.5rem;
    align-items: center;
    padding-bottom: 0;
  }
}
.logo {
  width: 4rem;
  height: 4rem;

  @include devices(tablet) {
    width: 4.8rem;
    height: 4.8rem;
  }
}

.nav {
  position: relative;
  display: inline-block;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  transition: width 400ms ease-in-out;
  backdrop-filter: blur(40.774227142333984px);
  background-color: rgb(255 255 255 / 0.04);
  z-index: 999;

  @include devices(tablet) {
    position: relative;
    height: auto;
    width: auto;
    margin-top: -2.4rem;
    margin-right: -3.9rem;
  }

  @include devices(laptop) {
    margin-top: 0;
    margin-right: -5.5rem;
    overflow: visible;
  }
}

.nav__list {
  min-width: 23rem;
  margin-top: 10.8rem;
  padding-left: 2.2rem;

  @include devices(tablet) {
    width: auto;
    margin: 0;
    padding: 4rem 4.6rem;
    display: flex;
    gap: 3.5rem;
    padding-bottom: 0;
    align-items: baseline;
  }
  @include devices(small-laptop) {
  }
  @include devices(laptop) {
    //  12.3rem 16.5rem
    padding: 4rem 16.5rem 0 12.3rem;
    display: flex;
    gap: 4.8rem;
    // padding-bottom: 0;
    align-items: baseline;
  }
}

.active {
  width: 25.4rem;
}

// this line only shows in the laptop view and above
.header__line {
  display: none;
  @include devices(laptop) {
    display: inline-block;
    height: 1px;

    min-width: 47.3rem;
    background-color: var(--color-white);
    opacity: 25.15%;
    position: absolute;
    top: 50%;
    left: -44.3rem;
  }
  @include devices(laptop-large) {
    min-width: 65.3rem;
    left: -62.3rem;
  }
}
.nav__open {
  z-index: 2000;
  width: 2.4rem;
  height: 2.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(-1px);
  @include devices(tablet) {
    display: none;
  }
}

.nav__open--bar {
  display: inline-block;
  width: 2.4rem;
  height: 0.3rem;
  background-color: var(--color-blue-light);
  transition: 300ms ease-in-out;
}
.close .nav__open--bar-1 {
  transform: rotateZ(-45deg) translate(-5.5px, 6px);
}
.close .nav__open--bar-2 {
  opacity: 0;
}
.close .nav__open--bar-3 {
  transform: rotateZ(45deg) translate(-7px, -7px);
}

.link__active {
  border-right: 0.4rem solid var(--color-white);
  @include devices(tablet) {
    border-right: none;
    border-bottom: 0.3rem solid var(--color-white);
  }
}

.body::after {
  content: '';
  position: absolute;
  background-color: #0b0f1a;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  opacity: 0;
  z-index: 9999;
}

.animate_content::after {
  animation: animate 1400ms ease;
  width: 101vw;
  height: 100vh;
  opacity: 1;
  border-radius: 0;
  overflow: hidden;
}

.body {
  overflow-x: hidden;
}

@keyframes animate {
  0% {
    width: 0.6rem;
    height: 0.6rem;
    opacity: 1;
  }

  50% {
    width: 100vw;
    height: 0.6rem;
  }

  85% {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }

  100% {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
}

.fadein::after {
  animation: fadein 1400ms ease;
  width: 0.6rem;
  height: 0.6rem;
  opacity: 0;
  border-radius: 50%;
  overflow: hidden;
}

@keyframes fadein {
  0% {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    opacity: 1;
  }
  15% {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }

  50% {
    width: 100vw;
    height: 0.6rem;
  }

  100% {
    width: 0.6rem;
    height: 0.6rem;
    opacity: 1;
    border-radius: 0;
  }
}
