// types
// --type--barlow-condensed
// --type--barlow
// --type--bellefair
@import '../mixins';
:root {
  /* COLORS */
  --color-white: #ffffff;
  --color-blue-light: #d0d6f9;
  // --color-blue-light: #d2d8f9;

  --color-blue-dark: #0c0e18;
  --color-gray: #979797;

  // font family
  --type--barlow-condensed: 'Barlow Condensed', sans-serif;
  --type--barlow: 'Barlow', sans-serif;
  --type--bellefair: 'Bellefair', sans-serif;
}

.nav__link {
  display: inline-block;
  font-family: var(--type--barlow-condensed);
  font-weight: 300;
  color: var(--color-white);
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.27rem;
  margin-bottom: 1.3rem;
  padding: 1rem;
  width: 100%;

  @include devices(tablet) {
    margin-bottom: 0;
    padding: 0;
    font-size: 1.4rem;
    padding-bottom: 3.7rem;
  }

  @include devices(laptop) {
    font-size: 1.6rem;
    padding-bottom: 3.5rem;
    transition: border-color 260ms ease-in-out;
    border-bottom: 0.3rem solid rgba(255, 255, 255, 0);

    &:hover {
      // 0.5021478533744812
      border-bottom: 0.3rem solid rgba(255, 255, 255, 0.5);
    }
  }
}

.nav__link--number {
  font-weight: bold;
  margin-right: 0.4rem;
  @include devices(tablet) {
    display: none;
  }
  @include devices(laptop) {
    display: inline-block;
  }
}

// these two are for adjusting the locations of these two to get them as close to the design as possible
.nav__item:nth-child(2) {
  margin-right: 5px;
}
.nav__item:nth-child(2) .nav__link--number {
  margin-right: 6px;
}

.text {
  color: var(--color-blue-light);
  font-size: 1.5rem;
  font-family: var(--type--barlow);
  line-height: 2.5rem;
  font-weight: 400;
}

.heading {
  font-family: var(--type--bellefair);
  margin: 0;
}
.heading {
  color: var(--color-white);
}
.heading--primary {
  font-size: 8rem;
  margin-bottom: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0;

  @include devices(tablet) {
    font-size: 15rem;
    margin-bottom: 0.4rem;
  }
  @include devices(laptop) {
    margin-bottom: 1.5rem;
  }
}
.heading--secondary {
  text-transform: uppercase;
  font-size: 5.6rem;
  font-weight: 400;
  padding-bottom: 0.1rem;

  @include devices(tablet) {
    font-size: 8rem;
    padding-bottom: 0;
    margin-bottom: 0.8rem;
  }
  @include devices(laptop) {
    font-size: 10rem;
    margin-bottom: 1.4rem;
  }
}
.heading--tertiary {
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-bottom: 1.7rem;
  @include devices(tablet) {
    font-size: 4rem;
    margin-bottom: 1.6rem;
  }
  @include devices(laptop) {
    font-size: 5.6rem;
    margin-bottom: 2.5rem;
  }
}
.heading--fourth {
  color: var(--color-white);

  font-weight: 400;
  letter-spacing: 0;
  font-size: 1.6rem;
  text-transform: uppercase;
  opacity: 0.5;
  margin-bottom: 0.9rem;

  @include devices(tablet) {
    font-size: 2.4rem;
    margin-bottom: 0.7rem;
  }
  @include devices(laptop) {
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
  }
}
.heading--fifth {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: var(--type--barlow-condensed);
  letter-spacing: 0.27rem;
  line-height: 1;
  color: var(--color-blue-light);
  margin-bottom: 1.7rem;
  font-weight: 400;

  @include devices(tablet) {
    font-size: 2rem;
    letter-spacing: 0.338rem;
    margin-bottom: 0.7rem;
  }
  @include devices(laptop) {
    font-size: 2.8rem;
    letter-spacing: 0.472rem;
    margin-bottom: 1.9rem;
  }
}

.page--home .heading--fifth {
  transform: translateX(1px);

  @include devices(tablet) {
    transform: translateX(2px);
  }
  @include devices(laptop) {
    transform: translateX(0px);
  }
}

.heading--number {
  margin-right: 1.6rem;

  @include devices(laptop) {
    margin-right: 2.6rem;
    font-weight: bold;
  }
}
.heading--sixth {
  font-size: 1.4rem;
  font-family: var(--type--barlow-condensed);
  letter-spacing: 0.236rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-blue-light);
  margin-bottom: 0.9rem;

  @include devices(tablet) {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
    transform: translateX(4px);
    letter-spacing: 0.27rem;
  }

  @include devices(laptop) {
    transform: translateX(0px);
    margin-bottom: 1.2rem;
  }
}

.planet__link {
  color: var(--color-blue-light);
  text-transform: uppercase;
  font-family: var(--type--barlow-condensed);
  font-size: 1.4rem;
  letter-spacing: 0.236rem;
  padding-bottom: 0.8rem;
  @include devices(tablet) {
    font-size: 1.6rem;
    letter-spacing: 0.27rem;
    padding-bottom: 1.2rem;
  }
}
.avr-distance-label,
.est-time-label {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--color-blue-light);
  font-family: var(--type--barlow-condensed);
  font-weight: 400;
  letter-spacing: 0.236rem;
  margin-bottom: 1.2rem;
  transform: translateX(1px);
}
.avr-distance,
.est-time {
  font-size: 2.8rem;
  font-family: var(--type--bellefair);
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 3.3rem;
}
.planet__text {
  font-family: 'Barlow', serif;
  color: var(--color-white);
  font-size: 1.5rem;
  line-height: 1.5;
}

.text {
  font-family: var(--type--barlow);
  font-size: 1.5rem;
  color: var(--color-blue-light);
  letter-spacing: 0;
  line-height: 2.5rem;
  @include devices(tablet) {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
  @include devices(laptop) {
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
}

.crew__text {
  margin-bottom: 3.5rem;
  @include devices(laptop) {
    margin-bottom: 0em;
    width: 44.4rem;
    padding: 0;
    text-align: left;
    margin-bottom: 11.5rem;
  }
  @include devices(laptop-large) {
    width: 60rem;
    margin-bottom: 8rem;
  }
}

// .crew__text {
//   font-family: var(--type--barlow);
//   font-size: 1.5rem;
//   color: var(--color-blue-light);
//   letter-spacing: 0;
//   line-height: 2.5rem;
// }
