// types
// --type--barlow-condensed
// --type--barlow
// --type--bellefair
@mixin devices($breakpoint) {
  @if $breakpoint == mobile {
    @media only screen and (min-width: 680px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: 1440px) {
      @content;
    }
  }
}
.nav__link {
  display: inline-block;
  font-family: var(--type--barlow-condensed);
  font-weight: 300;
  color: var(--color-white);
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.27rem;
  margin-bottom: 1.3rem;
  padding: 1rem;
  width: 100%;

  @include devices(tablet) {
    margin-bottom: 0;
    padding: 0;
    font-size: 1.4rem;
    padding-bottom: 3.7rem;
  }
}
.nav__link--number {
  font-weight: bold;
  margin-right: 0.4rem;
  @include devices(tablet) {
    display: none;
  }
}
.text {
  color: var(--color-blue-light);
  font-size: 1.5rem;
  font-family: var(--type--barlow);
  line-height: 2.5rem;
  font-weight: 400;
}

.heading {
  font-family: var(--type--bellefair);
  margin: 0;
}
.heading {
  color: var(--color-white);
}
.heading--primary {
  font-size: 8rem;
  margin-bottom: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0;

  @include devices(tablet) {
    font-size: 15rem;
    margin-bottom: 0.4rem;
  }
}
.heading--secondary {
  text-transform: uppercase;
  font-size: 5.6rem;
  font-weight: 400;
  padding-bottom: 0.1rem;

  @include devices(tablet) {
    font-size: 8rem;
    padding-bottom: 0;
    margin-bottom: 0.8rem;
  }
}
.heading--tertiary {
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-bottom: 1.7rem;
}
.heading--fourth {
  color: var(--color-white);

  font-weight: 400;
  letter-spacing: 0;
  font-size: 1.6rem;
  text-transform: uppercase;
  opacity: 0.5;
  margin-bottom: 0.9rem;
}
.heading--fifth {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: var(--type--barlow-condensed);
  letter-spacing: 0.27rem;
  line-height: 1;
  color: var(--color-blue-light);
  margin-bottom: 1.7rem;
  font-weight: 400;

  @include devices(tablet) {
    font-size: 2rem;
    letter-spacing: 0.338rem;
    margin-bottom: 0.7rem;
  }
}

.page--home .heading--fifth {
  transform: translateX(1px);

  @include devices(tablet) {
    transform: translateX(2px);
  }
}

.heading--number {
  margin-right: 1.6rem;
}
.heading--sixth {
  font-size: 1.4rem;
  font-family: var(--type--barlow-condensed);
  letter-spacing: 0.236rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-blue-light);
  margin-bottom: 0.9rem;
}

.planet__link {
  color: var(--color-blue-light);
  text-transform: uppercase;
  font-family: var(--type--barlow-condensed);
  font-size: 1.4rem;
  letter-spacing: 0.236rem;
  padding-bottom: 0.8rem;
  @include devices(tablet) {
    font-size: 1.6rem;
    letter-spacing: 0.27rem;
    padding-bottom: 1.2rem;
  }
}
.avr-distance-label,
.est-time-label {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--color-blue-light);
  font-family: var(--type--barlow-condensed);
  font-weight: 400;
  letter-spacing: 0.236rem;
  margin-bottom: 1.2rem;
  transform: translateX(1px);
}
.avr-distance,
.est-time {
  font-size: 2.8rem;
  font-family: var(--type--bellefair);
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 3.3rem;
}
.planet__text {
  font-family: 'Barlow', serif;
  color: var(--color-white);
  font-size: 1.5rem;
  line-height: 1.5;
}
.heading--fifth {
  // color: var(--color-white);
  // margin-bottom: 3.2rem;
}

.text {
  font-family: var(--type--barlow);
  font-size: 1.5rem;
  color: var(--color-blue-light);
  letter-spacing: 0;
  line-height: 2.5rem;
  @include devices(tablet) {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
}

// .crew__text {
//   font-family: var(--type--barlow);
//   font-size: 1.5rem;
//   color: var(--color-blue-light);
//   letter-spacing: 0;
//   line-height: 2.5rem;
// }

// .technology__text {
//   font-family: var(--type--barlow);
//   font-size: 1.5rem;
//   color: var(--color-blue-light);
//   letter-spacing: 0;
//   line-height: 2.5rem;
// }
