@font-face {
  font-family: 'Bellefair';
  src: url('assets/Fonts/Bellefair/Bellefair-Regular.ttf');
}
@font-face {
  font-family: 'Barlow Condensed';
  src: url('assets/Fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf');
}
@font-face {
  font-family: 'Barlow';
  src: url('assets/Fonts/Barlow/Barlow-Regular.ttf');
}
/* 
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif; 
font-family: 'Barlow', serif;
*/

:root {
  /* COLORS */
  --color-white: #ffffff;
  --color-blue-light: #d2d8f9;
  --color-blue-dark: #0c0e18;
  --color-gray: #252731;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* equals 10px*/
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  width: 100%;
}

.body {
  position: relative;

  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem;
  /* height: 40px; */
}
.logo {
  width: 4rem;
  height: 4rem;
}

.nav {
  display: inline-block;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  transition: width 400ms ease-in-out;
  backdrop-filter: blur(30px);
  z-index: 99;
}

.nav__list {
  min-width: 23rem;
  margin-top: 10.8rem;
  padding-left: 2.2rem;
}
.nav__link {
  display: inline-block;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  color: var(--color-white);
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.27rem;
  margin-bottom: 2.2rem;
  padding: 1rem;
  width: 100%;
}
.nav__link--number {
  font-weight: bold;
}
.active {
  width: 25.4rem;
}

.heading {
  color: var(--color-white);
}
.text {
  color: var(--color-blue-light);
  font-size: 1.5rem;
  font-family: 'Barlow', serif;
  line-height: 2.5rem;
  font-weight: 400;
}

.heading--primary {
  font-size: 8rem;
  font-family: 'Bellefair', serif;
  margin-bottom: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0;
}
.heading--fifth {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 0.27rem;
  color: var(--color-blue-light);
  margin-bottom: 1.6rem;
  font-weight: 400;
}

.nav__open {
  z-index: 999;
  width: 2.4rem;
  height: 2.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav__open--bar {
  display: inline-block;
  width: 2.4rem;
  height: 0.3rem;
  background-color: var(--color-blue-light);
  transition: 300ms ease-in-out;
}
.close .nav__open--bar-1 {
  transform: rotateZ(-45deg) translate(-5.5px, 6px);
}
.close .nav__open--bar-2 {
  opacity: 0;
}
.close .nav__open--bar-3 {
  transform: rotateZ(45deg) translate(-7px, -7px);
}

.link__active {
  border-right: 0.3rem solid var(--color-white);
}

.heading--secondary {
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
  font-size: 5.6rem;
  font-weight: 400;
}
